# Supabase API Settings (Local Development via Supabase CLI)
VITE_SUPABASE_URL=http://127.0.0.1:54321
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.Uy-GDlojUnwZrwj2mR82GJ3zm-3clzt-Y9WoqBfDM_c
